<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
      <add name="ToolUseConnectionString"
           providerName="System.Data.SqlClient"
           connectionString="Data Source=10.21.14.25;Initial Catalog=DevToolUseDatabase;Persist Security Info=True;User ID=ToolUseDevUser;Password=AVPtest1;"/>
    </connectionStrings>
</configuration>